<h2>Liste des employes</h2>

<table border="1" cellpadding="6" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>CIN</th>
            <th>Date Naissance</th>
            <th>Genre</th>
            <th>Solde</th>
            <th>Salaire</th>
            <th>Heures</th>
            <th>Departement</th>
        </tr>
    </thead>
    <tbody>
        {% for emp in employees %}
            <tr>
                <td>{{ emp.Nom }}</td>
                <td>{{ emp.Email }}</td>
                <td>{{ emp['Téléphone'] }}</td>
                <td>{{ emp.CIN }}</td>
                <td>{{ emp['Date Naissance'] }}</td>
                <td>{{ emp.Genre }}</td>
                <td>{{ emp['Solde Congé'] }}</td>
                <td>{{ emp.Salaire }}</td>
                <td>{{ emp.Heures }}</td>
                <td>{{ emp.Departement }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>