<header class="top-navbar">
  <nav class="top-nav">
    <button id="btnOffres" class="nav-link" type="button" data-page="offres" data-href="{{ path('app_candidate_dashboard') }}">Offres d'emploi</button>
    <button id="btnTraining" class="nav-link" type="button" data-page="formations" data-href="{{ path('app_candidate_formations') }}">Formations</button>
    <button id="btnEvents" class="nav-link" type="button" data-page="evenements" data-href="{{ path('app_candidate_evenements') }}">Evenements</button>
    <button id="btnParticipation" class="nav-link" type="button" data-page="participations" data-href="{{ path('app_candidate_participations') }}">Mes participations</button>
    <button id="btnDemandeConge" class="nav-link" type="button" data-page="demande-conge" data-href="{{ path('app_candidate_demande_conge') }}">Demande de conge</button>
    <button id="btnCommunaute" class="nav-link" type="button" data-page="communaute" data-href="{{ path('app_candidate_communaute') }}">Communaute</button>
  </nav>
</header>
